*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  height: 85vh;
  width: 85vw;
  background: white;
  box-shadow: 5px 5px 10px gray;
  margin-top: 8vh;
  margin-left: 8vw;
  padding-top: 4vh;
  padding-left: 3vw;
}

.demo{
  height: 79vh;
  width: 78vw;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding-top: 20px;
}

.demo label{
 margin-left: 22px;
}

.demo select{
  height: 5vh;
  width: 75vw;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-left: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.demo textarea{
  height: 22vh;
  width: 75vw;
  margin-left: 22px;
  margin-top: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

#myTextarea2{
  background: lightgray;
}

button{
  margin-left: 22px;
  margin-top: 8px;
  background: rgb(69, 69, 207);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}